apiVersion: apps/v1
kind: Deployment
metadata:
  name: tienda-online
  labels:
    app: tienda-online
spec:
  replicas: 4
  selector:
    matchLabels:
      app: tienda-online
  template:
    metadata:
      labels:
        app: tienda-online
    spec:
      containers:
      - name: nginx
        image: nginx:1.25-alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
      volumes:
      - name: html
        configMap:
          name: tienda-html
